<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail Penyakit</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1><%= data[0].nama_penyakit %></h1>
    <br>
    <br>
    <br>
    <h3>Daftar Pasien terjangkit penyakit ini</h3>
    <table border="2">
        <tr>
            <th>Nama</th>
            <th>Gender</th>
            <th>Age</th>
        </tr>
        <% for(let i=0; i < data[0].Pasiens.length; i++){ %>
        <tr>
            <td><%= data[0].Pasiens[i].nama %></td>
            <td><%= data[0].Pasiens[i].gender %></td>
            <td><%= data[0].Pasiens[i].age %></td>
            </td>
        </tr>
        <% } %>
    </table>
    <br>
    <br>
    <a href="/penyakit">Back</a>
</body>
</html>