<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasien</title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>List Pasien</h1>
    <a href="/pasien/add">Add Data Pasien</a> <a href="/pasien/anak">Pasien Anak Anak</a> <a href="/pasien/dewasa">Pasien Dewasa</a>
    <br>
    <br>
    <% if(dewasa){ %>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>
            <% for(let i=0; i < dewasa.length; i++){ %>
            <tr>
                <td><%= arr[i] %></td>
                <td><%= dewasa[i].gender %></td>
                <td><%= dewasa[i].age %></td>
            </tr>
            <% } %>
        </table>
        <a href="/pasien">Back</a>
    <% } else if(anak){ %>
        <table border="2">
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
            </tr>
            <% for(let i=0; i < anak.length; i++){ %>
            <tr>
                <td><%= arr[i] %></td>
                <td><%= anak[i].gender %></td>
                <td><%= anak[i].age %></td>
            </tr>
            <% } %>
        </table>
        <a href="/pasien">Back</a>
    <% } else {%>
    
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Options</th>
        </tr>
        <% for(let i=0; i < data.length; i++){ %>
        <tr>
            <td><%= arr[i] %></td>
            <td><%= data[i].gender %></td>
            <td><%= data[i].age %></td>
            <td>
                <a href='pasien/<%= data[i].id%>/detail'>Detail</a>
                <a href='pasien/<%= data[i].id%>/edit'>Edit</a>
                <a href='pasien/<%= data[i].id%>/delete' onclick="return confirm('Anda Yakin ingin menghapus data ?');">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
    <% } %>
    <br>
    <br>
    <br>
    <% if(alert){ %>
        <h3>Wah Ada Pesan dari dokter nih, yuk kita scan apa isinya</h3>
        <%= JSON.stringify(alert) %>
       <img src="<%= alert %>">
    <% } %>
</body>
</html>