<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pasien</title>
</head>
<body>
    <h1>List Pasien</h1>
    <a href="/pasien/add">Add Data Pasien</a>
    <br>
    <br>
    <table border="2">
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Options</th>
        </tr>
        <% for(let i=0; i < data.length; i++){ %>
        <tr>
            <td><%= data[i].nama %></td>
            <td><%= data[i].gender %></td>
            <td><%= data[i].age %></td>
            <td>
                <a href='pasien/<%= data[i].id%>/detail'>Detail</a>
                <a href='pasien/<%= data[i].id%>/edit'>Edit</a>
                <a href='pasien/<%= data[i].id%>/delete' onclick="return confirm('Anda Yakin ingin menghapus data ?');">Delete</a>
            </td>
        </tr>
        <% } %>
    </table>
</body>
</html>